*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Charis SIL", serif;
  font-family: "Open Sans", sans-serif;
  font-weight: 400px;
  font-size: 14px;
  line-height: 17px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  margin-right: 70px;
}

.menu__list {
  display: flex;
}

.menu__link {
  text-transform: uppercase;
  padding: 42px 20px;
}

.menu__link:hover {
  color: white;
  background-color: rgb(12, 12, 12);
  transition: 0.5s;
}

.menu__item + .menu__item {
  padding-left: 10px;
}

.bike {
  padding: 100px 0 150px;
}

.bike__inner {
  display: flex;
  justify-content: space-between;
}

.bike__column-slider {
  flex-basis: 630px;
  margin-left: 30px;
  max-width: 630px;
}

.bike__title {
  font-size: 64px;
  font-weight: 700;
  line-height: 77px;
  margin: 72px 0 5px;
}

.bike__subtitle {
  margin: 0 0 60px;
  font-size: 32px;
  line-height: 39px;
  color: #878686;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.bike__text {
  max-width: 420px;
}

.bike__link {
  margin-top: 80px;
  display: inline-block;
  background-color: #131313;
  color: white;
  padding: 21px 83px;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 1.1em;
  text-transform: uppercase;
}

.letterSpace {
  letter-spacing: 0.5rem;
}

.bike-slider .slick-dots {
  top: 50px;
  right: 0;
}

.slick-dots {
  position: absolute;
}

.slick-dots li + li {
  padding-top: 10px;
}

.slick-dots button {
  font-size: 0;
  padding: 0;
  border: none;
  background-color: #131313;
  height: 25px;
  width: 2px;
  border-radius: 7px;
  cursor: pointer;
  transition: all 0.3s;
}

.slick-dots button:hover,
.slick-active button {
  background-color: red;
}

.bike__list {
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
}

.bike__list-item {
  font-family: "Inter";
  font-style: normal;

  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  text-transform: uppercase;
  flex-basis: 160px;
  text-align: center;
}

.bike__list-item span {
  display: block;
  margin-top: 5px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-transform: lowercase;
}
.info {
  margin-bottom: 150px;
}
.info__inner {
  display: flex;
}

.info__img {
  margin-right: 60px;
  flex-basis: 570px;
  object-fit: cover;
}

.info__list {
  flex-basis: 490px;
}

.info__item + .info__item {
  padding-top: 70px;
}

.info__item-title {
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  margin: 0 0 10px;
  font-family: "Inter";
}

.info__item-text {
  min-width: 450px;
}
